In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("///Users/kshitizghimire/Downloads/AirPollutionSeoul/Measurement_Summary.csv")

In [3]:
len(df.columns)

11

In [4]:
df

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
647506,2019-12-31 19:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.028,0.013,0.5,23.0,17.0
647507,2019-12-31 20:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.025,0.015,0.4,25.0,19.0
647508,2019-12-31 21:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.023,0.015,0.4,24.0,17.0
647509,2019-12-31 22:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.040,0.004,0.5,25.0,18.0
647510,2019-12-31 23:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.037,0.005,0.5,27.0,18.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647511 entries, 0 to 647510
Data columns (total 11 columns):
Measurement date    647511 non-null object
Station code        647511 non-null int64
Address             647511 non-null object
Latitude            647511 non-null float64
Longitude           647511 non-null float64
SO2                 647511 non-null float64
NO2                 647511 non-null float64
O3                  647511 non-null float64
CO                  647511 non-null float64
PM10                647511 non-null float64
PM2.5               647511 non-null float64
dtypes: float64(8), int64(1), object(2)
memory usage: 54.3+ MB

In [11]:
num=df._get_numeric_data()

In [12]:
import numpy as np
np.sum((num.SO2 < 0).values.ravel())

3976

In [8]:
#num.SO2.lt(0).sum().sum()

In [13]:
num[num<0]=0

In [14]:
so2=num.SO2.sum()

In [15]:
so2

2813.7980000000007

In [16]:
import statistics
so2mean=statistics.mean(num.SO2)
so2mean

0.0043455601526460556

In [17]:
no2=sum(df.NO2)
no2

18414.97800000464

In [18]:
no2mean=statistics.mean(df.NO2)
no2mean

0.028439637318902693

In [19]:
o3=sum(df.O3)
o3

15700.527000027736

In [20]:
o3mean=statistics.mean(df.O3)
o3mean

0.024247506219971553

In [21]:
co=sum(df.CO)
co

333746.69999978895

In [22]:
comean=statistics.mean(df.CO)
comean

0.5154301625763886

In [23]:
pm10=sum(df.PM10)
pm10

28305406.0

In [24]:
pm10mean=statistics.mean(df.PM10)
pm10mean

43.714170106762666

In [25]:
pm25=sum(df["PM2.5"])
pm25

16458519.0

In [26]:
pm25mean=statistics.mean(df["PM2.5"])
pm25mean

25.418130348364738